body {
  margin: 0px;
  color: white;
}

a {
  color: lightgrey !important;
  text-decoration: none !important;
}

#titleBar {
  width: auto;
  top: 0px;
  left: 0px;

  padding-top: 16px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: rgb(30, 30, 30);

  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-color: white;
}

#titleBar .grid-container {
  grid-template-columns: auto auto;
}

#titleBar h3 {
  text-align: right;
}

.grid-container {
  display: grid;
}


#navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  will-change: transform;
  z-index: 999;

  width: 100%;
  top: 0px;

  padding-top: 1px;

  background-color: rgb(50, 50, 50);

  border
}

#navBar .grid-container {
  grid-template-columns: auto auto;
  text-align: center;
}



.navOn {
  margin: 0px;
  padding: 3px;
  background-color: rgb(200, 200, 200);
  color: black;
}

.navOff {
  margin: 0px;
  padding: 3px;
}

.navOff:hover {
  background-color: rgb(70, 70, 70);
}
