body {
  margin: 0px;
  color: white;
}

a {
  color: lightgrey !important;
  text-decoration: none !important;
}

#titleBar {
  width: 100%;
  top: 0px;
  left: 0px;

  padding-top: 16px;
  padding-bottom: 1px;
  padding-left: 16px;

  background-color: black;

  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-color: grey;
}

.grid-container {
  display: grid;
}

#navBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  will-change: transform;
  z-index: 999;

  width: 100%;
  top: 0px;

  padding-top: 1px;

  background-color: black;
}

#navBar .grid-container {
  grid-template-columns: 15% 15% 15% auto;
  text-align: center;
}
